<div *ngIf="RssData" >

  <div *ngFor="let o of RssData.items;" >
    <div class="container mt-5 ">
      <div class="row">
        <div class="offset-3 col-6 shadow-lg">
          <article class="blog-card">
            <div class="blog-card__background">
              <div class="card__background--wrapper">
                <div class="card__background--main"
                  >
                  <img src="{{o.enclosure.link}}" alt="">
                  <div class="card__background--layer"></div>
                </div>
              </div>
            </div>
            <div class="blog-card__head">
              <span class="date__box">
                <span class="date__day">{{o.pubDate}}</span>
              </span>
            </div>
            <div class="blog-card__info">
              <h5>{{o.title}}</h5>
             
              <p>{{o.description}}</p>
              <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>
                LIRE PLUS
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>

    <section class="detail-page">
      <div class="container mt-5">

      </div>
    </section>
  </div>
</div>